<h3>Add an ingredient</h3>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient, prompt: "Pick one from list" %>
      <%= f.submit "Submit" %>
      <% end %>
